.update_feed_field_container {
  float:left;
}

.update_feed_field_refresh {
  position:relative;
  top:20px;
  float:left;
}

.update_feed_field_delete {
  position:relative;
  top:20px;
  float:left;
	padding-left:10px;
}
.has_newer_version {
  border:3px dotted #163452;
}
